body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:750px;
}
#u4008 {
  position:absolute;
  left:150px;
  top:60px;
  width:1100px;
  height:750px;
  color:#A9B7B7;
}
#u4009 {
  position:absolute;
  left:2px;
  top:367px;
  width:1096px;
  word-wrap:break-word;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-bottom:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4010 {
  position:absolute;
  left:150px;
  top:60px;
  width:1100px;
  height:50px;
}
#u4011 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:702px;
}
#u4012 {
  position:absolute;
  left:150px;
  top:109px;
  width:180px;
  height:701px;
}
#u4013 {
  position:absolute;
  left:2px;
  top:342px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-bottom:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4014 {
  position:absolute;
  left:150px;
  top:60px;
  width:180px;
  height:50px;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4015 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4016 {
  position:absolute;
  left:345px;
  top:68px;
  width:35px;
  height:35px;
}
#u4017 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:701px;
}
#u4018 {
  position:absolute;
  left:329px;
  top:110px;
  width:1px;
  height:700px;
}
#u4019 {
  position:absolute;
  left:2px;
  top:342px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:2px;
}
#u4020 {
  position:absolute;
  left:329px;
  top:195px;
  width:921px;
  height:1px;
}
#u4021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4022 {
  position:absolute;
  left:345px;
  top:134px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:90px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4024 {
  position:absolute;
  left:1090px;
  top:65px;
  width:40px;
  height:40px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4026 {
  position:absolute;
  left:1100px;
  top:75px;
  width:20px;
  height:20px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4028 {
  position:absolute;
  left:1140px;
  top:78px;
  width:39px;
  height:16px;
  color:#FFFFFF;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u4030 {
  position:absolute;
  left:1189px;
  top:75px;
  width:1px;
  height:23px;
  color:#FFFFFF;
}
#u4031 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4032 {
  position:absolute;
  left:1205px;
  top:78px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4034 {
  position:absolute;
  left:720px;
  top:600px;
  width:97px;
  height:40px;
  text-align:center;
}
#u4035 {
  position:absolute;
  left:10px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4036 {
  position:absolute;
  left:543px;
  top:287px;
  width:57px;
  height:16px;
}
#u4037 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4038 {
  position:absolute;
  left:658px;
  top:279px;
  width:300px;
  height:34px;
}
#u4039 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4040 {
  position:absolute;
  left:543px;
  top:356px;
  width:57px;
  height:16px;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4042 {
  position:absolute;
  left:658px;
  top:348px;
  width:300px;
  height:34px;
}
#u4043 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u4044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4044 {
  position:absolute;
  left:543px;
  top:422px;
  width:85px;
  height:16px;
}
#u4045 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4046 {
  position:absolute;
  left:658px;
  top:414px;
  width:300px;
  height:34px;
}
#u4047 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4048 {
  position:absolute;
  left:543px;
  top:493px;
  width:85px;
  height:16px;
}
#u4049 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4050 {
  position:absolute;
  left:658px;
  top:485px;
  width:300px;
  height:34px;
}
#u4050_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4050_input:disabled {
  color:grayText;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4051 {
  position:absolute;
  left:160px;
  top:120px;
  width:20px;
  height:20px;
}
#u4052 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u4053 {
  position:absolute;
  left:190px;
  top:122px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u4054 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4055 {
  position:absolute;
  left:190px;
  top:175px;
  width:57px;
  height:16px;
}
#u4056 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u4057 {
  position:absolute;
  left:150px;
  top:230px;
  width:180px;
  height:1px;
}
#u4058 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4059 {
  position:absolute;
  left:160px;
  top:241px;
  width:20px;
  height:20px;
}
#u4060 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u4061 {
  position:absolute;
  left:190px;
  top:243px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u4062 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4063 {
  position:absolute;
  left:190px;
  top:270px;
  width:57px;
  height:16px;
}
#u4064 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4065 {
  position:absolute;
  left:190px;
  top:296px;
  width:71px;
  height:16px;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4067 {
  position:absolute;
  left:190px;
  top:149px;
  width:57px;
  height:16px;
  color:#000000;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4069 {
  position:absolute;
  left:190px;
  top:201px;
  width:122px;
  height:16px;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4071 {
  position:absolute;
  left:190px;
  top:348px;
  width:122px;
  height:16px;
  color:#000000;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4073 {
  position:absolute;
  left:151px;
  top:317px;
  width:178px;
  height:26px;
}
#u4074 {
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4075 {
  position:absolute;
  left:190px;
  top:322px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u4076 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u4077 {
  position:absolute;
  left:150px;
  top:399px;
  width:180px;
  height:1px;
}
#u4078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4079 {
  position:absolute;
  left:160px;
  top:411px;
  width:20px;
  height:20px;
}
#u4080 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u4081 {
  position:absolute;
  left:190px;
  top:413px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u4082 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4083 {
  position:absolute;
  left:160px;
  top:551px;
  width:22px;
  height:22px;
}
#u4084 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u4085 {
  position:absolute;
  left:190px;
  top:554px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u4086 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u4087 {
  position:absolute;
  left:150px;
  top:541px;
  width:180px;
  height:1px;
}
#u4088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4089 {
  position:absolute;
  left:190px;
  top:580px;
  width:71px;
  height:16px;
}
#u4090 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4091 {
  position:absolute;
  left:190px;
  top:466px;
  width:57px;
  height:16px;
  color:#000000;
}
#u4092 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4093 {
  position:absolute;
  left:190px;
  top:516px;
  width:52px;
  height:16px;
  color:#000000;
}
#u4094 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4095 {
  position:absolute;
  left:190px;
  top:491px;
  width:57px;
  height:16px;
  color:#000000;
}
#u4096 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4097 {
  position:absolute;
  left:190px;
  top:440px;
  width:57px;
  height:16px;
  color:#000000;
}
#u4098 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
