* {
    margin:0;
    padding:0;
    -webkit-overflow-scrolling: touch !important;
}
ul,li {
    list-style-type: none;
}
html,body {
    width:100%;
    height:100%;
    background-color: #000;
    cursor: url(../images/cursor.ico), default;
}
body {
    height: 100%;
    font-size: .28rem;
    vertical-align: baseline;
    font-family: 'simhei';
    background-size: cover;
}
body, b, i {
    font-size: .28rem;
}
.container-fluid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.box-title {
    position: relative;
    padding-top: .08rem;
    text-align: right;
    margin-bottom: .2rem;
}
.box-title>span{
    position: absolute;
    left: 0;
    top: 0;
    color: #717b85;
    font-size: .52rem;
}
.box-title-right span {
    margin-left:.3rem;
}
.box-title i {
    position: relative;
    font-style: normal;
    font-size: .4rem;
    margin-left:.16rem;
    bottom: -.04rem;
}
.fc-green {
    color: #25a303;
}
.fc-red {
    color: #ff2525;!important;
}
.fc-gray {
    color:#67717a;
}
.fc-blue {
    color:#6cd4ff;
}
.fc-darkblue {
    color:#70b0ff;
}
.fc-darkgreen {
    color: #04766d;
}
.box-tip {
    background: #0484fc;
    color: #000;
    font-size: .24rem;
    padding:.04rem .04rem 0 .04rem;
    margin-right:.06rem;
    font-style: normal;
}
.cb-num {
    position: relative;
    font-style: normal;
    bottom: -.04rem;
    font-size: .4rem;
    margin-left:.16rem;
}
.icon {
    position: relative;
    bottom:-.06rem;
    display: inline-block;
    width:.4rem;
    height:.4rem;
}
.icon-down {
    background: url(../images/icon-down.png) no-repeat center;
    background-size: .24rem;
    bottom:-.1rem;
}
.icon-up {
    background: url(../images/icon-up.png) no-repeat center;
    background-size: .24rem;
    bottom:-.08rem;
}
.cb-minnum {
    margin-left:.1rem;
}
.contentbox {
    margin:0 -.4rem;
}
.contentbox>li {
    position: relative;
    float: left;
    width:50%;
    min-height:4rem;
}
.contentbox>li>div {
    margin:0 .8rem;
}
.main {
    width:90%;
    height:4rem;
    margin-left:-10%;
    margin-top:-.3rem;

}
.contentbox-info {
    position:absolute;
    right:.6rem;
    bottom:.5rem;
    width: 2.2rem;
    font-size: .26rem;
}
.contentbox-info li{
    height:.44rem;
    line-height: .44rem;
}
.contentbox-info-left {
    float: left;
    color:#fff;
}
.contentbox-info-right {
    float: right;
}
.stock-table {
    width:100%;
    height:.6rem;
    line-height: .6rem;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.stock-table,
.stock-table th,
.stock-table td {
    border: 1px solid #28313b;
}

/****** zyf *****/
.bg-49c7fa{
    background: #49c7fa;
}
.c-49c7fa{
    color:#49c7fa;
}
.bg-007463{
    background: #007463;
}
.c-007463{
    color:#007463;
}
.c-747b83{
    color: #747b83;
}
.six-ul{
    width: 100%;
}
.six-ul li{
    width: 16.5%;
    float: left;
    display: inline-block;
    font-size: .24rem;
}
.pt-5{
    padding-top: .1rem;
}
.bar-style-big{
    margin-left: -4%!important;
    height: 3rem;
}
.fs-12{
    font-size: .24rem;
}
.pt-7{
    padding-top: .14rem!important;
}


/**
* css by zhouyf
**/

body{
    padding: 0;
    margin: 0;
    height: 100%;
}
.main-bg{
    padding: .4rem .7rem;
    height: 100%;
}
.clear:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
}
.clear{zoom:1}
.fl-l{
    float: left;
}
.fl-r{
    float: right;
}
.mr-25{
    margin-right:.5rem;
}

.mr-10{
    margin-right:.2rem;
}
.mr-95{
    margin-right:.95rem;
}
.ml-10{
    margin-left:.1rem;
}
/*add*/
.ml-40{
    margin-left:.4rem;
}
.mb-20{
    margin-bottom:.2rem;
}
.main-box{
    width: 14.8rem;
    background: #ccc;
    position: relative;
}
.layer-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.data-box{
    height: 100%;
    /*background:-webkit-gradient(linear, 0 0, 100% 100%, from(#333), to(#999));*/
    border-radius: .2rem;
}
.data-box .title{

}
.c-white{
    color: #fff;
}
.box-title-right .box-color {
    height: .20rem;
    width: .20rem;
    margin-right: .06rem;
    font-style: normal;
}

.contentbox-three li{
    position: relative;
    float: left;
    width: 33%;
}
.border-right{
    border-right: 1px solid #2d3037;
}
.c-0084ff{
    color: #70b0ff;
}

.pie-style{
    width: 100%;
    margin-left: -32%!important;
    margin-top: -.2rem!important;
    position: relative;
    height: 3rem!important;
}
.bar-style{
    margin-left: -10%!important;
    margin-top: -1rem!important;
    position: relative;
    height: 3rem!important;
}

.bar-text{
    position: absolute;
    left: 6%;
    top: 40%;
    color: #fff;
    font-size: .24rem;
}
.left-30{
    left: 31%;
    font-size: .24rem;
}
.bar-text-right{
    position: absolute;
    left: 55%;
    top: 40%;
    color: #fff;
    font-size: .24rem;
}
.left-81{
    left:81%;
}
.pos-re{
    position: relative;
}
.pr-10{
    padding-right: .2rem;
}
.ff-inherit{
    font-family: inherit;
}
.plr-40{
    padding-left: .8rem;
    padding-right: .8rem;
}
.pl-40{
    padding-left: .8rem;
}

/*add*/
.pl-130{
    padding-left: 1.3rem;
}

.left-40{
    left: .8rem!important;
}
.plr-10{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
th{
    text-align: center!important;
}
.no-p{
    padding: 0;
}
.no-m{
    margin: 0;
}
.pie-main-text{
    font-size: .24rem;
    position: absolute;
    left: 14%;
    top: 38.5%;
    height: .68rem;
}
.line-h-35{
    line-height: .7rem;
}
.fs-24{
    font-size: .48rem;
}
.mt-30{
    margin-top: .6rem;
}
.big-table td{
    line-height: .55rem;
}
.back-main{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.back-main.activated {
    background-color: rgba(0, 0, 255, .6);
}
.pt-10{
    padding-top: .2rem;
}
.flip-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: -webkit-transform .4s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0) rotateX(0deg);
    color: #fff;
    background: rgba(0,0,0,.6);
    /*border-radius: .2rem;*/
}
.side1,
.side2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5rem .5rem;
    -webkit-transition: opacity .3s ease-out;
}
.side2 {
    opacity: 0;
    -webkit-transform: translate3d(0,0,-1px) rotateX(180deg);
}
.flipY .side1 {
    opacity: 0;
}
.flipY .side2 {
    opacity: 1;
}
.flip-card.flipY {
    -webkit-transform: translate3d(0,0,0) rotateX(180deg);
}
.fs-14{
    font-size: .28rem;
}
.num-right{
    text-align: right;
    padding-right: .4rem;
}
.pt-20{
    padding-top: .2rem;
}
.pt-40{
    padding-top: .4rem;
}
.w-50{
    width: .5rem;
    text-align: center;
}
.left-place{
     position: absolute;
     z-index: 1000;
     width: .5rem;
     height: 100%;
     left: 0;
 }
.left-go{
    position: absolute;
    z-index: 1001;
    width: .5rem;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    left: -.5rem;
}
.left-go a{
    display: block;
    width: 100%;
    height: 100%;
    background:  url(../images/left.png) no-repeat center center;
    background-size: 45%;
}
.right-place{
    position: absolute;
    z-index: 1000;
    width: .5rem;
    height: 100%;
    right: 0;
}
.right-go{
    position: absolute;
    z-index: 1001;
    width: .5rem;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    right: -.5rem;
}
.right-go a{
    display: block;
    width: 100%;
    height: 100%;
    background:  url(../images/right.png) no-repeat center center;
    background-size: 45%;
}
.fs-16{
    font-size: .32rem;
}

.mt-up40{
  margin-top:-.5rem
}


/*************** 改版 *************/
.title-box{
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .5rem;
    text-align: center;
    background: #16171d;
    color: #8393aa;
    position: relative;
}
.first-box-content{
    padding-left: .37rem;
    padding-top: .45rem;
    padding-right: 1rem;
    position: relative;
}
.unit-money{
    font-size: .38rem;
    color: #8393aa;
    text-align: right;
}
.common-content {
    position: relative;
    width: 100%;
    height: 100%;
}
.common-box {
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 50%;
    color:#fff;
    /*border-radius: .2rem;*/
    overflow: hidden;
    -webkit-animation-duration: .6s;
    -webkit-animation-timing-function: cubic-bezier(.14, 1, .71, .99);
}
.pos0{
    left: 0;
    top: 0;
}
.pos1{
    right: 0;
    top:0;
}
.pos2{
    left: 0;
    bottom:0;
}
.pos3{
    right: 0;
    bottom:0;
}
.pie-ul-three li{
    float: left;
    width:33%
}.pie-ul-three{
    padding-left: .37rem;
    padding-right: .37rem;
 }
.index-box0{
    margin-left: .8rem;
    margin-top: .8rem;
    background: rgba(28,32,44,0.8);
    height: 9.6rem;
    width: 18rem;
    border-radius: .2rem;
}
.index-box1{
    margin-right: .8rem;
    margin-top: .8rem;
    margin-left: .4rem;
    background: rgba(28,32,44,0.8);
    height: 9.6rem;
    width: 18rem;
    border-radius: .2rem;
}
.index-box2{
    margin-left: .8rem;
    margin-bottom: .8rem;
    margin-top: .4rem;
    background: rgba(28,32,44,0.8) url(../images/fen.png) no-repeat center;
    background-size: 100%;
    height: 9.6rem;
    width: 18rem;
    border-radius: .2rem;
}
.bg-fen{
    background: rgba(28,32,44,0.8) url(../images/fen.png) no-repeat center!important;
    background-size: 100%!important;
}
.index-box3{
    margin-right: .8rem;
    margin-bottom: .8rem;
    margin-top: .4rem;
    margin-left: .4rem;
    background: rgba(28,32,44,0.8);
    height: 9.6rem;
    width: 18rem;
    border-radius: .2rem;
}
.moni{
    width: 38.4rem;
    height: 21.6rem;
}
.text-center{
    text-align: center;
}
.fs-36{
    font-size: .36rem;
}
.c-8393aa{
    color: #8393aa;
}
.pie-content{
    height: 3.6rem;
    width: 100%;
    position: relative;
}
.unit-chart{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: .38rem;
    padding-top: .45rem;
}
.img-bottom{
    margin-bottom: .05rem;
    margin-right: .1rem;
}
.ml-50{
    margin-left:.5rem;
}
.pie-text {
    position: absolute;
    top:25%;
    z-index: 5555;
    width: 100%;
    text-align: center;
    font-size: .48rem;
}
.pie-text p{
    font-size: .67rem;
    margin: 0;
}
.ml-70{
    margin-left:.7rem;
}
.ml-100{
    margin-left:1rem;
}
.ml-130{
    margin-left:1.3rem;
}
.bar-hole-shu{
    height: 6.1rem;
    width: 100%;
}
.ab-stock{
    width: .6rem;
    text-align: center;
    position: absolute;
    font-size: .52rem;
    top: 2.7rem;
    left: 17.2%;
}
.ab-distribution{
    width: .6rem;
    text-align: center;
    position: absolute;
    font-size: .52rem;
    top: 0.6rem;
    left: 73.5%;
}
.ab-goods{
    width: .6rem;
    text-align: center;
    position: absolute;
    font-size: .52rem;
    top: 3.8rem;
    left: 79%;
}
.mr-100{
    margin-right: 1rem;
}
.top-150{
    top:1.5rem;
}
.top-370{
    top:3.7rem;
}
.top-480{
    top:4.8rem;
}
.xy-frame-arrow-blue {
    background: url(../images/xy-frame-blue.png) no-repeat center;
}

/*****************/
.common-box0{
    margin-left: .8rem;
    margin-top: .8rem;
    background: rgba(28,32,44,0.8);
    /*background: #080a10;*/
    height: 9.6rem;
    width: 18rem;
    border-radius: .2rem;
}
.common-box1{
    margin-right: .8rem;
    margin-top: .8rem;
    margin-left: .4rem;
    background: rgba(28,32,44,0.8);
    height: 9.6rem;
    width: 18rem;
    border-radius: .2rem;
}
.common-box2{
    margin-left: .8rem;
    margin-bottom: .8rem;
    margin-top: .4rem;
    background: rgba(28,32,44,0.8);
    background-size: 100%;
    height: 9.6rem;
    width: 18rem;
    border-radius: .2rem;
}
.common-box3{
    margin-right: .8rem;
    margin-bottom: .8rem;
    margin-top: .4rem;
    margin-left: .4rem;
    background: rgba(28,32,44,0.8);
    height: 9.6rem;
    width: 18rem;
    border-radius: .2rem;
}

/*箭头表格图*/

.bg-none {
    background:none;
}

.txt-left {
    text-align: left !important;
}
/*menu样式*/
.right-menu {
    position: absolute;
    right: 0.58rem;
    top:0.42rem;
    width: 1.48rem;
    height: 1.48rem;
    background: url(../images/new/menu-icon.png) no-repeat center;
    background-size: 1.48rem ,1.48rem;
    z-index: 999;
}

.right-menu-bg {
    position: absolute;
    right: 0.58rem;
    top:2.12rem;
    width: 5.24rem;
    height: 7.42rem;
    background: url(../images/new/menu-bg.png) no-repeat center;
    background-size: 5.24rem ,7.42rem;
    z-index: 999;
}
.right-menu-txt {
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: .48rem;
    color: #8393aa;
    text-align: center;
}
.right-menu-highlight {
    background: url(../images/new/menu-highlight.png) no-repeat center;
    background-size: 5.24rem ,1.80rem;
}

/*page3样式*/
.xy-frame-unit {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .38rem;
}
.xy-frame-m-l {
    margin-left: .8rem;
}
.xy-frame-arrow-yellow {
    background: url(../images/new/xy-frame-yellow.png) no-repeat center;
}
.xy-frame-arrow {
    width: 16.14rem;
    height: 5.84rem;
    background-size: 16.14rem ,5.84rem;
}
.xy-frame-circle {
    width: .3rem;
    height: .3rem;
    background: url(../images/new/xy-frame-circle-yellow.png) no-repeat center;
    background-size: .24rem ,.24rem;
}
.xy-frame-hor-txt-div {
    position: absolute;
    line-height: .32rem;
    font-size: .38rem;
}
.xy-frame-txt-clr {
    color: #8393aa;
}
.xy-frame-txt-ml {
    margin-left: .32rem;
}
.xy-framte-txt-postion1 {
    left: 2.21rem;
    top: .98rem;
}
.xy-framte-txt-postion2 {
    left: 1.2rem;
    top: 1.84rem;
}
.xy-framte-txt-postion3 {
    left: 2.63rem;
    top: 2.67rem;
}
.xy-framte-txt-postion4 {
    left: 8.65rem;
    top: .78rem;
}
.xy-framte-txt-postion5 {
    left: 9.29rem;
    top: 2.10rem;
}
.xy-framte-txt-postion6 {
    left: .63rem;
    top: 3.43rem;
}
.xy-framte-txt-postion7 {
    left: 2.09rem;
    top: 4.45rem;
}
.xy-framte-txt-postion8 {
    left: 8.40rem;
    top: 4.96rem;
}
.xy-frame-sales-div {
    width: 16.48rem;
    height: 6.85rem;
    margin-left: 0.38rem;
}


/******************************* page 2 ******************************************/
.page2-bar-style{
    /*
    width: 100%;
    */
    width: 18rem!important;
    height: 6.6rem!important;
    margin-left: 0rem!important;
    margin-top: 0rem!important;
    position: relative;
}

/******************************* page 5 ******************************************/
.page5-bar-style{
    /*
    width: 100%;
    */
    width: 14.6rem!important;
    height: 6.6rem!important;
    margin-left: 0rem!important;
    margin-top: 0rem!important;
    position: relative;
}

.page5-pie-style{
    /*
    width: 100%;
    */
    width: 14.6rem!important;
    height: 6.6rem!important;
    margin-left: 0rem!important;
    margin-top: 0rem!important;
    position: relative;
}

.page5-menu5-box{
    border: 1px solid #2c3343;
    background: #121622;
    height: 5.1rem;
    width: 2.36rem;
    margin-top: .54rem;
    padding: 0rem;
}

.page5-menu li {
    width: 1.9rem;
    height: .6rem;
    line-height: .6rem;
    color: #fff;
    font-size: .38rem;
    text-align: center;
    margin: .2rem;
}
.page5-menu li.active {
    /*
    background-color: #009cff;
    */
    background: -webkit-linear-gradient(left, #062edc, #1ba4f6);
}

.page5-menu2 li {
    width: 1.9rem;
    height: .6rem;
    line-height: .6rem;
    color: #fff;
    font-size: .38rem;
    text-align: left;
    margin: .2rem;
    padding-left: .16rem;
    padding-right: .16rem;
}
.page5-menu2 li.active {
    /*
    background-color: #009cff;
    */
    background: -webkit-linear-gradient(left, #062edc, #1ba4f6);
}

