body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:750px;
}
#u288 {
  position:absolute;
  left:150px;
  top:60px;
  width:1100px;
  height:750px;
  color:#A9B7B7;
}
#u289 {
  position:absolute;
  left:2px;
  top:367px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-bottom:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u290 {
  position:absolute;
  left:150px;
  top:60px;
  width:1100px;
  height:50px;
}
#u291 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-bottom:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u292 {
  position:absolute;
  left:150px;
  top:60px;
  width:180px;
  height:50px;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u293 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u294 {
  position:absolute;
  left:345px;
  top:68px;
  width:35px;
  height:35px;
}
#u295 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:701px;
}
#u296 {
  position:absolute;
  left:329px;
  top:110px;
  width:1px;
  height:700px;
}
#u297 {
  position:absolute;
  left:2px;
  top:342px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u298 {
  position:absolute;
  left:160px;
  top:120px;
  width:20px;
  height:20px;
}
#u299 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u300 {
  position:absolute;
  left:190px;
  top:122px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u302 {
  position:absolute;
  left:150px;
  top:256px;
  width:180px;
  height:1px;
}
#u303 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u304 {
  position:absolute;
  left:160px;
  top:267px;
  width:20px;
  height:20px;
}
#u305 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u306 {
  position:absolute;
  left:190px;
  top:269px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u307 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u308 {
  position:absolute;
  left:190px;
  top:296px;
  width:57px;
  height:16px;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310 {
  position:absolute;
  left:190px;
  top:348px;
  width:57px;
  height:16px;
}
#u311 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  position:absolute;
  left:190px;
  top:374px;
  width:122px;
  height:16px;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  position:absolute;
  left:190px;
  top:322px;
  width:71px;
  height:16px;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  position:absolute;
  left:151px;
  top:169px;
  width:178px;
  height:26px;
}
#u317 {
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u318 {
  position:absolute;
  left:190px;
  top:149px;
  width:57px;
  height:16px;
  color:#000000;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:2px;
}
#u320 {
  position:absolute;
  left:329px;
  top:195px;
  width:921px;
  height:1px;
}
#u321 {
  position:absolute;
  left:2px;
  top:-8px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u322 {
  position:absolute;
  left:345px;
  top:134px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u323 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u324 {
  position:absolute;
  left:190px;
  top:227px;
  width:122px;
  height:16px;
}
#u325 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:90px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u326 {
  position:absolute;
  left:1090px;
  top:65px;
  width:40px;
  height:40px;
}
#u327 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u328 {
  position:absolute;
  left:1100px;
  top:75px;
  width:20px;
  height:20px;
}
#u329 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u330 {
  position:absolute;
  left:1140px;
  top:78px;
  width:39px;
  height:16px;
  color:#FFFFFF;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u332 {
  position:absolute;
  left:1189px;
  top:75px;
  width:1px;
  height:23px;
  color:#FFFFFF;
}
#u333 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u334 {
  position:absolute;
  left:1205px;
  top:78px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u336 {
  position:absolute;
  left:190px;
  top:175px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u337 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u338 {
  position:absolute;
  left:360px;
  top:167px;
  width:57px;
  height:16px;
  color:#0000FF;
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u340 {
  position:absolute;
  left:460px;
  top:167px;
  width:43px;
  height:16px;
}
#u341 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u342_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:113px;
  height:5px;
}
#u342 {
  position:absolute;
  left:330px;
  top:194px;
  width:110px;
  height:2px;
}
#u343 {
  position:absolute;
  left:2px;
  top:-7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:296px;
}
#u344 {
  position:absolute;
  left:360px;
  top:222px;
  width:861px;
  height:296px;
  color:#00FF00;
}
#u345 {
  position:absolute;
  left:2px;
  top:140px;
  width:857px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:59px;
}
#u346 {
  position:absolute;
  left:360px;
  top:222px;
  width:861px;
  height:59px;
}
#u347 {
  position:absolute;
  left:2px;
  top:22px;
  width:857px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u348 {
  position:absolute;
  left:380px;
  top:238px;
  width:97px;
  height:27px;
  color:#0000FF;
}
#u349 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u350 {
  position:absolute;
  left:497px;
  top:238px;
  width:97px;
  height:27px;
}
#u351 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:39px;
}
#u352 {
  position:absolute;
  left:360px;
  top:479px;
  width:861px;
  height:39px;
}
#u353 {
  position:absolute;
  left:2px;
  top:12px;
  width:857px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u354 {
  position:absolute;
  left:1081px;
  top:491px;
  width:117px;
  height:16px;
  color:#999999;
}
#u355 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u356 {
  position:absolute;
  left:360px;
  top:545px;
  width:97px;
  height:40px;
  text-align:center;
}
#u357 {
  position:absolute;
  left:10px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u358 {
  position:absolute;
  left:150px;
  top:399px;
  width:180px;
  height:1px;
}
#u359 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u360 {
  position:absolute;
  left:160px;
  top:411px;
  width:20px;
  height:20px;
}
#u361 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u362 {
  position:absolute;
  left:190px;
  top:413px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u363 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u364 {
  position:absolute;
  left:160px;
  top:551px;
  width:22px;
  height:22px;
}
#u365 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u366 {
  position:absolute;
  left:190px;
  top:554px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u368 {
  position:absolute;
  left:150px;
  top:541px;
  width:180px;
  height:1px;
}
#u369 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  position:absolute;
  left:190px;
  top:580px;
  width:71px;
  height:16px;
}
#u371 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u372 {
  position:absolute;
  left:190px;
  top:466px;
  width:57px;
  height:16px;
  color:#000000;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u374 {
  position:absolute;
  left:190px;
  top:516px;
  width:52px;
  height:16px;
  color:#000000;
}
#u375 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u376 {
  position:absolute;
  left:190px;
  top:491px;
  width:57px;
  height:16px;
  color:#000000;
}
#u377 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u378 {
  position:absolute;
  left:190px;
  top:440px;
  width:57px;
  height:16px;
  color:#000000;
}
#u379 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
