body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    font-family: "simHei";
    font-size: 1em;
    background-color: #fff;
    color: #fff;
    -webkit-overflow-scroll: touch;
    overflow-x: hidden;
}
* {
    font-family: "simHei" !important;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
.part-img {
    display: block;
    width: 100%;
    height: auto;
}
.part-area { position: relative; }

