extends ../layouts/default

block form

  .form-signin
    include ../includes/messages

    form.form-signin(action="/users/create", method="post", role="form")
      input(type='hidden', name='_csrf', value=_csrf)
      p.col-sm-offset-2.error= message
      .list-group
        .list-group-item
          input.form-control.no-border(type='email', name="email", placeholder='邮箱', value=user.email)
        .list-group-item
          input.form-control.no-border(type='text', name="username", placeholder='用户名', value=user.username)
        .list-group-item
          input.form-control.no-border(type='password', name="password", placeholder='密码')
      //.checkbox.m-b
        label
          input(type='checkbox') | Agree the a(href='#') terms and policy
      button.btn.btn-lg.btn-primary.btn-block(type='submit') 注册
      .line.line-dashed
      p.text-muted.text-center
        small 已有账户?
      a.btn.btn-lg.btn-default.btn-block(href='/login') 登入
