body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:600px;
}
#u794 {
  position:absolute;
  left:150px;
  top:60px;
  width:1100px;
  height:600px;
  color:#A9B7B7;
}
#u795 {
  position:absolute;
  left:2px;
  top:292px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-bottom:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  position:absolute;
  left:150px;
  top:60px;
  width:1100px;
  height:50px;
}
#u797 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:552px;
}
#u798 {
  position:absolute;
  left:150px;
  top:109px;
  width:180px;
  height:551px;
}
#u799 {
  position:absolute;
  left:2px;
  top:268px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-bottom:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u800 {
  position:absolute;
  left:150px;
  top:60px;
  width:180px;
  height:50px;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u801 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u802 {
  position:absolute;
  left:345px;
  top:68px;
  width:35px;
  height:35px;
}
#u803 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:551px;
}
#u804 {
  position:absolute;
  left:329px;
  top:110px;
  width:1px;
  height:550px;
}
#u805 {
  position:absolute;
  left:2px;
  top:267px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u806 {
  position:absolute;
  left:160px;
  top:120px;
  width:20px;
  height:20px;
}
#u807 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u808 {
  position:absolute;
  left:190px;
  top:122px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  position:absolute;
  left:190px;
  top:175px;
  width:57px;
  height:16px;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u812 {
  position:absolute;
  left:150px;
  top:256px;
  width:180px;
  height:1px;
}
#u813 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u814 {
  position:absolute;
  left:160px;
  top:267px;
  width:20px;
  height:20px;
}
#u815 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u816 {
  position:absolute;
  left:190px;
  top:269px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  position:absolute;
  left:190px;
  top:348px;
  width:57px;
  height:16px;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u820 {
  position:absolute;
  left:190px;
  top:374px;
  width:122px;
  height:16px;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  position:absolute;
  left:190px;
  top:322px;
  width:71px;
  height:16px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u824 {
  position:absolute;
  left:151px;
  top:290px;
  width:178px;
  height:26px;
}
#u825 {
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u826 {
  position:absolute;
  left:190px;
  top:149px;
  width:57px;
  height:16px;
  color:#000000;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:2px;
}
#u828 {
  position:absolute;
  left:329px;
  top:195px;
  width:921px;
  height:1px;
}
#u829 {
  position:absolute;
  left:2px;
  top:-8px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u830 {
  position:absolute;
  left:345px;
  top:134px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u831 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u832 {
  position:absolute;
  left:190px;
  top:227px;
  width:122px;
  height:16px;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:90px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  position:absolute;
  left:1090px;
  top:65px;
  width:40px;
  height:40px;
}
#u835 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u836 {
  position:absolute;
  left:1100px;
  top:75px;
  width:20px;
  height:20px;
}
#u837 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u838 {
  position:absolute;
  left:1140px;
  top:78px;
  width:39px;
  height:16px;
  color:#FFFFFF;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u840 {
  position:absolute;
  left:1189px;
  top:75px;
  width:1px;
  height:23px;
  color:#FFFFFF;
}
#u841 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u842 {
  position:absolute;
  left:1205px;
  top:78px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u843 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u844 {
  position:absolute;
  left:190px;
  top:296px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:261px;
}
#u846 {
  position:absolute;
  left:340px;
  top:273px;
  width:900px;
  height:261px;
  color:#00FF00;
}
#u847 {
  position:absolute;
  left:2px;
  top:122px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  position:absolute;
  left:340px;
  top:273px;
  width:900px;
  height:59px;
}
#u849 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:40px;
}
#u850 {
  position:absolute;
  left:342px;
  top:215px;
  width:358px;
  height:40px;
  color:#666666;
  text-align:left;
}
#u851 {
  position:absolute;
  left:2px;
  top:12px;
  width:354px;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u852 {
  position:absolute;
  left:668px;
  top:224px;
  width:25px;
  height:25px;
}
#u853 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u854 {
  position:absolute;
  left:366px;
  top:295px;
  width:15px;
  height:16px;
  color:#999999;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u856 {
  position:absolute;
  left:425px;
  top:295px;
  width:29px;
  height:16px;
  color:#999999;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u858 {
  position:absolute;
  left:524px;
  top:295px;
  width:43px;
  height:16px;
  color:#999999;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u860 {
  position:absolute;
  left:624px;
  top:295px;
  width:73px;
  height:16px;
  color:#999999;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u862 {
  position:absolute;
  left:770px;
  top:295px;
  width:71px;
  height:16px;
  color:#999999;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u864 {
  position:absolute;
  left:1123px;
  top:295px;
  width:57px;
  height:16px;
  color:#999999;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:1150px;
  top:215px;
  width:90px;
  height:40px;
}
#u867 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u868 {
  position:absolute;
  left:920px;
  top:295px;
  width:99px;
  height:15px;
  color:#999999;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u870 {
  position:absolute;
  left:367px;
  top:351px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u872 {
  position:absolute;
  left:496px;
  top:350px;
  width:100px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u874 {
  position:absolute;
  left:664px;
  top:351px;
  width:10px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u876 {
  position:absolute;
  left:341px;
  top:384px;
  width:899px;
  height:1px;
}
#u877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u878 {
  position:absolute;
  left:428px;
  top:349px;
  width:20px;
  height:20px;
}
#u879 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u880 {
  position:absolute;
  left:801px;
  top:351px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u882 {
  position:absolute;
  left:890px;
  top:351px;
  width:163px;
  height:19px;
  font-size:16px;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u884 {
  position:absolute;
  left:1089px;
  top:351px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u886 {
  position:absolute;
  left:366px;
  top:402px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u888 {
  position:absolute;
  left:496px;
  top:401px;
  width:100px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u890 {
  position:absolute;
  left:664px;
  top:402px;
  width:10px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u892 {
  position:absolute;
  left:341px;
  top:435px;
  width:899px;
  height:1px;
}
#u893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u894 {
  position:absolute;
  left:428px;
  top:400px;
  width:20px;
  height:20px;
}
#u895 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u896 {
  position:absolute;
  left:801px;
  top:402px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u898 {
  position:absolute;
  left:890px;
  top:402px;
  width:163px;
  height:19px;
  font-size:16px;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u900 {
  position:absolute;
  left:1089px;
  top:402px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u902 {
  position:absolute;
  left:366px;
  top:452px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u904 {
  position:absolute;
  left:496px;
  top:451px;
  width:100px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u906 {
  position:absolute;
  left:664px;
  top:452px;
  width:10px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u908 {
  position:absolute;
  left:341px;
  top:485px;
  width:899px;
  height:1px;
}
#u909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u910 {
  position:absolute;
  left:428px;
  top:450px;
  width:20px;
  height:20px;
}
#u911 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u912 {
  position:absolute;
  left:801px;
  top:452px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u914 {
  position:absolute;
  left:890px;
  top:452px;
  width:163px;
  height:19px;
  font-size:16px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u916 {
  position:absolute;
  left:1089px;
  top:452px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u918 {
  position:absolute;
  left:365px;
  top:500px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u920 {
  position:absolute;
  left:495px;
  top:499px;
  width:100px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u922 {
  position:absolute;
  left:663px;
  top:500px;
  width:10px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u924 {
  position:absolute;
  left:340px;
  top:533px;
  width:899px;
  height:1px;
}
#u925 {
  position:absolute;
  left:2px;
  top:-8px;
  width:895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u926 {
  position:absolute;
  left:427px;
  top:498px;
  width:20px;
  height:20px;
}
#u927 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u928 {
  position:absolute;
  left:800px;
  top:500px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u930 {
  position:absolute;
  left:889px;
  top:500px;
  width:163px;
  height:19px;
  font-size:16px;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u932 {
  position:absolute;
  left:1088px;
  top:500px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u934 {
  position:absolute;
  left:384px;
  top:299px;
  width:10px;
  height:10px;
}
#u935 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u936 {
  position:absolute;
  left:1183px;
  top:298px;
  width:10px;
  height:10px;
}
#u937 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u938 {
  position:absolute;
  left:150px;
  top:399px;
  width:180px;
  height:1px;
}
#u939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u940 {
  position:absolute;
  left:160px;
  top:411px;
  width:20px;
  height:20px;
}
#u941 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u942 {
  position:absolute;
  left:190px;
  top:413px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u944 {
  position:absolute;
  left:160px;
  top:551px;
  width:22px;
  height:22px;
}
#u945 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u946 {
  position:absolute;
  left:190px;
  top:554px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u948 {
  position:absolute;
  left:150px;
  top:541px;
  width:180px;
  height:1px;
}
#u949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:190px;
  top:580px;
  width:71px;
  height:16px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u952 {
  position:absolute;
  left:190px;
  top:466px;
  width:57px;
  height:16px;
  color:#000000;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u954 {
  position:absolute;
  left:190px;
  top:516px;
  width:52px;
  height:16px;
  color:#000000;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u956 {
  position:absolute;
  left:190px;
  top:491px;
  width:57px;
  height:16px;
  color:#000000;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u958 {
  position:absolute;
  left:190px;
  top:440px;
  width:57px;
  height:16px;
  color:#000000;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
