.fix-mx-img {
    display: none;
    position: absolute;
    top: 128px;
    width: 255px;
    left: 50%;
    margin-left: -127.5px;
    opacity: .1;
}
.cur .fix-mx-img {
    display: block;
    animation: mxfadeIn 1s linear;
    -webkit-animation: mxfadeIn 1s linear;
}
.part3-title {
    display: none;
    position: absolute;
    top: 40px;
    left: 15px;
    width: 100%;
    height: 18px;
    line-height: 18px;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
}
.cur .part3-title{
    display: block;
    animation: titleSlideRight 1s linear;
    -webkit-animation: titleSlideRight 1s linear;
}
.cur .part3-sub-title{
    display: block;
    animation: titleSlideLeft 1s linear;
    -webkit-animation: titleSlideLeft 1s linear;
}
.part3-sub-title {
    display: none;
    position: absolute;
    top: 83px;
    height: 14px;
    font-size: 14px;
    color: #8d8d8d;
    text-align: center;
    width: 100%;
    padding: 0 50px;
    line-height: 24px;
}
.part3-sub-title-3 {
    display: none;
    position: absolute;
    top: 83px;
    height: 14px;
    font-size: 14px;
    color: #8d8d8d;
    text-align: center;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    line-height: 24px;
}
.part3-sub-title-2 {
    z-index: -1;
    position: absolute;
    top: 83px;
    height: 14px;
    font-size: 14px;
    color: #8d8d8d;
    text-align: center;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    line-height: 24px;
}
.cur .part3-sub-title-2{
    animation: fadeInOut 3.5s linear;
    -webkit-animation: fadeInOut 3.5s linear;
}
.cur .part3-sub-title-3{
    display: block;
    animation: fadeIn 3.5s linear;
    -webkit-animation: fadeIn 3.5s linear;
}
.part-3-mx-img {
    display: none;
    position: absolute;
    top: 128px;
    width: 255px;
    left: 50%;
    margin-left: -127.5px;
    opacity: .1;
}
.cur .part-3-mx-img{
    display: block;
    animation: imgFadeIn 3s ;
    -webkit-animation: imgFadeIn 3s ;
}
.radius-l-t {
    display: none;
    position: absolute;
    top: 122px;
    width: 21px;
    left: 54px;
}
.cur .radius-l-t{
    display: block;
    animation: fadeIn 1s ;
    -webkit-animation: fadeIn 1s ;
}
.radius-r-b {
    display: none;
    position: absolute;
    top: 568px;
    width: 21px;
    left: 300px;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.cur .radius-r-b{
    display: block;
    animation: fadeIn 1s ;
    -webkit-animation: fadeIn 1s ;
}
.radius-r-t {
    display: none;
    position: absolute;
    top: 122px;
    width: 21px;
    left: 300px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.cur .radius-r-t{
    display: block;
    animation: fadeIn 1s ;
    -webkit-animation: fadeIn 1s ;
}
.radius-l-b {
    display: none;
    position: absolute;
    top: 568px;
    width: 21px;
    left: 54px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.cur .radius-l-b{
    display: block;
    animation: fadeIn 1s ;
    -webkit-animation: fadeIn 1s ;
}
.part3-2-img-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.cur .part-3-2-icon-1-out{
    display: block;
    animation: iconFadeIn 1.2s ;
    -webkit-animation: iconFadeIn 1.2s ;
}
.cur .part-3-2-icon-2-out{
    display: block;
    animation: iconFadeIn 1.4s ;
    -webkit-animation: iconFadeIn 1.4s ;
}
.cur .part-3-2-icon-3-out{
    display: block;
    animation: iconFadeIn 1.6s ;
    -webkit-animation: iconFadeIn 1.6s ;
}
.cur .part-3-2-icon-4-out{
    display: block;
    animation: iconFadeIn 1.8s ;
    -webkit-animation: iconFadeIn 1.8s ;
}
.part-3-2-icon-1-out {
    display: none;
    position: absolute;
    top: 153px;
    left: 108px;
    width: 85px;
    height: 85px;
}
.part-3-2-icon-2-out {
    display: none;
    position: absolute;
    top: 238px;
    left: 205px;
    width: 85px;
    height: 85px;
}
.part-3-2-icon-3-out {
    display: none;
    position: absolute;
    top: 323px;
    left: 94px;
    width: 85px;
    height: 85px;
}
.part-3-2-icon-4-out {
    display: none;
    position: absolute;
    top: 408px;
    left: 187px;
    width: 85px;
    height: 85px;
}
.part3-2-img-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-2-img-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-2-img-4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part-3-2-icon-1 {
    position: absolute;
    top: 4px !important;
    left: 4px;
    width: 77px;
}
.part-3-2-icon-2 {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 77px;
}
.part-3-2-icon-3 {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 77px;
}
.part-3-2-icon-4 {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 77px;
}
.part-3-2-txt-1 {
    position: absolute;
    left: 12px;
    top: 90px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-2-txt-2 {
    position: absolute;
    left: 30px;
    top: 90px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-2-txt-3 {
    position: absolute;
    left: 30px;
    top: 90px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-2-txt-4 {
    position: absolute;
    left: 12px;
    top: 90px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part3-4-img-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 161px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-4-img-1-in {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-5-img-4-in {
    position: absolute;
    top: 11px;
    height: 24px;
    left: 11px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-5-img-5-in {
    position: absolute;
    top: 22px;
    left: 22px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-4-img-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 133px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-4-img-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 133px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-4-img-4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 133px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-4-img-5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 133px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part-3-4-icon-1{
    width: 142px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.part-3-4-icon-2{
    width: 115px;
    position: absolute;
    top: 9px;
    left: 9px;
}
.part-3-4-icon-3{
    width: 115px;
    position: absolute;
    top: 9px;
    left: 9px;
}
.part-3-4-icon-4{
    width: 115px;
    position: absolute;
    top: 9px;
    left: 9px;
}
.part-3-4-icon-5{
    width: 115px;
    position: absolute;
    top: 9px;
    left: 9px;
}
.part-3-4-txt-1 {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 108px;
    height: 68px;
}
.txt-1-img {
    position: absolute;
    width: 100%;
    left: 19px;
    top: 38px;
}
.part-3-4-txt-2 {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 40px;
}
.txt-2-img {
    position: absolute;
    width: 100%;
    left: 27px;
    top: 38px;
}
.part-3-4-txt-3{
     display: none;
     position: absolute;
     top: 10px;
     left: 10px;
     width: 100px;
     height: 50px;
 }
.part-3-4-txt-4{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 50px;
}
.part-3-4-txt-5{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 50px;
}
.txt-3-img {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 33px;
}
.txt-4-img {
    position: absolute;
    width: 100%;
    left: 7px;
    top: 33px;
}
.txt-5-img {
    position: absolute;
    width: 100%;
    left: 7px;
    top: 33px;
}
.part-3-5-txt-1{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 104px;
    height: 45px;
}
.txt-3-5-img-1 {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 40px;
}
.part-3-5-txt-2{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 102px;
    height: 47px;
}
.txt-3-5-img-2 {
    position: absolute;
    width: 100%;
    left: 16px;
    top: 48px;
}
.part-3-5-txt-3{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 42px;
}
.txt-3-5-img-3 {
    position: absolute;
    width: 100%;
    left: 14px;
    top: 42px;
}
.cur .part-3-5-txt-1{
    display: block;
    animation: iconFadeIn 1.5s ;
    -webkit-animation: iconFadeIn 1.5s ;
}
.cur .part-3-5-txt-2{
    display: block;
    animation: iconFadeIn 2.5s ;
    -webkit-animation: iconFadeIn 2.5s ;
}
.cur .part-3-5-txt-3{
    display: block;
    animation: iconFadeIn 3.5s ;
    -webkit-animation: iconFadeIn 3.5s ;
}
.cur .part-3-4-txt-1{
    display: block;
    animation: iconFadeIn 1.2s ;
    -webkit-animation: iconFadeIn 1.2s ;
}
.cur .part-3-4-txt-2{
    display: block;
    animation: iconFadeIn 1.6s ;
    -webkit-animation: iconFadeIn 1.6s ;
}
.cur .part-3-4-txt-3{
    display: block;
    animation: iconFadeIn 2s ;
    -webkit-animation: iconFadeIn 2s ;
}
.cur .part-3-4-txt-4{
    display: block;
    animation: iconFadeIn 2.4s ;
    -webkit-animation: iconFadeIn 2.4s ;
}
.cur .part-3-4-txt-5{
    display: block;
    animation: iconFadeIn 2.8s ;
    -webkit-animation: iconFadeIn 2.8s ;
}
.cur .part-3-4-icon-1-out{
    display: block;
    animation: iconFadeIn 1s ;
    -webkit-animation: iconFadeIn 1s ;
}
.cur .part-3-4-icon-2-out{
    display: block;
    animation: iconFadeIn 1.4s ;
    -webkit-animation: iconFadeIn 1.4s ;
}
.cur .part-3-4-icon-3-out{
    display: block;
    animation: iconFadeIn 1.8s ;
    -webkit-animation: iconFadeIn 1.8s ;
}
.cur .part-3-4-icon-4-out{
    display: block;
    animation: iconFadeIn 2.2s ;
    -webkit-animation: iconFadeIn 2.2s ;
}
.cur .part-3-4-icon-5-out{
    display: block;
    animation: iconFadeIn 2.6s ;
    -webkit-animation: iconFadeIn 2.6s ;
}
.part-3-4-icon-1-out {
    display: none;
    position: absolute;
    top: 150px;
    left: 110px;
    width: 161px;
    height: 161px;
}
.part-3-4-icon-2-out {
    display: none;
    position: absolute;
    top: 295px;
    left: 217px;
    width: 133px;
    height: 133px;
}
.part-3-4-icon-3-out {
    display: none;
    position: absolute;
    top: 295px;
    left: 22px;
    width: 133px;
    height: 133px;
}
.part-3-4-icon-4-out {
    display: none;
    position: absolute;
    top: 444px;
    left: 22px;
    width: 133px;
    height: 133px;
}
.part-3-4-icon-5-out {
    display: none;
    position: absolute;
    top: 444px;
    left: 217px;
    width: 133px;
    height: 133px;
}
.txt-name {
    font-size: 19px;
    height: 19px;
    line-height: 19px;
    color: #fff;
}
.txt-num {
    font-size: 33px;
    height: 33px;
    line-height: 33px;
    color: #fff;
}
.part-3-4-circle {
    position: absolute;
    margin-left: -200px;
    margin-top: -160px;
    width: 400px;
    height: 320px;
    z-index: 1;
    animation: rotateRight 12s infinite linear;
    -webkit-animation: rotateRight 12s infinite linear;
}
.part3-5-img-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 145px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-5-img-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 152px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-5-img-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 146px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-5-img-4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-5-img-5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 82px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part-3-5-icon-1{
    width: 123px;
    position: absolute;
    top: 11px;
    left: 11px;
}
.part-3-5-icon-2{
    width: 130px;
    position: absolute;
    top: 11px;
    left: 11px;
}
.part-3-5-icon-3{
    width: 124px;
    position: absolute;
    top: 11px;
    left: 11px;
}
.part-3-5-icon-4{
    position: absolute;
    top: 11px;
    left: 11px;
    width: 25px;
}
.part-3-5-icon-5{
    position: absolute;
    top: 11px;
    left: 11px;
    width: 60px;
}
.part-3-5-icon-1-out {
    display: none;
    position: absolute;
    top: 142px;
    left: 28px;
    width: 145px;
    height: 145px;
}
.part-3-5-icon-2-out {
    display: none;
    position: absolute;
    top: 240px;
    left: 183px;
    width: 152px;
    height: 152px;
}
.part-3-5-icon-3-out {
    display: none;
    position: absolute;
    top: 325px;
    left: 57px;
    width: 146px;
    height: 146px;
}
.part-3-5-icon-4-out {
    display: none;
    position: absolute;
    top: 275px;
    left: 133px;
    width: 45px;
    height: 45px;
}
.part-3-5-icon-5-out {
    display: none;
    position: absolute;
    top: 398px;
    left: 204px;
    width: 82px;
    height: 82px;
}
.cur .part-3-5-icon-1-out{
    display: block;
    animation: iconFadeIn 1s ;
    -webkit-animation: iconFadeIn 1s ;
}
.cur .part-3-5-icon-2-out{
    display: block;
    animation: iconFadeIn 2s ;
    -webkit-animation: iconFadeIn 2s ;
}
.cur .part-3-5-icon-3-out{
    display: block;
    animation: iconFadeIn 3s ;
    -webkit-animation: iconFadeIn 3s ;
}
.cur .part-3-5-icon-4-out{
    display: block;
    animation: iconFadeIn 4s ;
    -webkit-animation: iconFadeIn 4s ;
}
.cur .part-3-5-icon-5-out{
    display: block;
    animation: iconFadeIn 5s ;
    -webkit-animation: iconFadeIn 5s ;
}
.part3-6-img-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part-3-6-icon-1-out {
    display: none;
    position: absolute;
    top: 166px;
    left: 36px;
    width: 85px;
    height: 85px;
}
.part-3-6-icon-2-out {
    display: none;
    position: absolute;
    top: 166px;
    left: 148px;
    width: 85px;
    height: 85px;
}
.part-3-6-icon-3-out {
    display: none;
    position: absolute;
    top: 166px;
    left: 260px;
    width: 85px;
    height: 85px;
}
.part-3-6-icon-4-out {
    display: none;
    position: absolute;
    top: 301px;
    left: 36px;
    width: 85px;
    height: 85px;
}
.part-3-6-icon-5-out {
    display: none;
    position: absolute;
    top: 301px;
    left: 148px;
    width: 85px;
}
.part-3-6-icon-6-out {
    display: none;
    position: absolute;
    top: 301px;
    left: 260px;
    width: 85px;
}
.part-3-6-icon-7-out {
    display: none;
    position: absolute;
    top: 436px;
    left: 36px;
    width: 85px;
}
.part-3-6-icon-8-out {
    display: none;
    position: absolute;
    top: 436px;
    left: 148px;
    width: 85px;
}
.part-3-6-icon-9-out {
    display: none;
    position: absolute;
    top: 436px;
    left: 260px;
    width: 85px;
}
.part3-6-img-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-6-img-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-6-img-4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-6-img-5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part-3-6-icon-1 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-6-icon-2 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-6-icon-3 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-6-icon-4 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-6-icon-5 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-6-icon-6 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-6-icon-7 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-6-icon-8 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-6-icon-9 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.cur .part-3-6-icon-1-out{
    display: block;
    animation: iconFadeIn 3.2s ;
    -webkit-animation: iconFadeIn 3.2s ;
}
.cur .part-3-6-icon-2-out{
    display: block;
    animation: iconFadeIn 3.4s ;
    -webkit-animation: iconFadeIn 3.4s ;
}
.cur .part-3-6-icon-3-out{
    display: block;
    animation: iconFadeIn 3.6s ;
    -webkit-animation: iconFadeIn 3.6s ;
}
.cur .part-3-6-icon-4-out{
    display: block;
    animation: iconFadeIn 3.8s ;
    -webkit-animation: iconFadeIn 3.8s ;
}
.cur .part-3-6-icon-5-out{
    display: block;
    animation: iconFadeIn 4.0s ;
    -webkit-animation: iconFadeIn 4.0s ;
}
.cur .part-3-6-icon-6-out{
    display: block;
    animation: iconFadeIn 4.2s ;
    -webkit-animation: iconFadeIn 4.2s ;
}
.cur .part-3-6-icon-7-out{
    display: block;
    animation: iconFadeIn 4.4s ;
    -webkit-animation: iconFadeIn 4.4s ;
}
.cur .part-3-6-icon-8-out{
    display: block;
    animation: iconFadeIn 4.6s ;
    -webkit-animation: iconFadeIn 4.6s ;
}
.cur .part-3-6-icon-9-out{
    display: block;
    animation: iconFadeIn 4.8s ;
    -webkit-animation: iconFadeIn 4.8s ;
}
.part-3-6-txt-1 {
    position: absolute;
    left: 12px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-6-txt-2 {
    position: absolute;
    left: 20px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-6-txt-3 {
    position: absolute;
    left: 21px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-6-txt-4 {
    position: absolute;
    left: 27px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-6-txt-5 {
    position: absolute;
    left: 24px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.circle-line {
    position: absolute;
    top: 0px;
    width: 926px;
    left: 38px;
}
.test {
    display: none;
    position: absolute;
    top: 181px;
    width: 926px;
    height: 926px;
    left: -631px;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}
.cur .test{
    display: block;
    animation: rotate 2.3s linear;
    -webkit-animation: rotate 2.3s linear;
}
.point-1 {
    display: none;
    z-index: 2;
    position: absolute;
    top: 228px;
    left: 53px;
    width: 10px;
}
.point-2 {
    display: none;
    z-index: 2;
    position: absolute;
    top: 267px;
    left: 116px;
    width: 10px;
}
.point-3 {
    display: none;
    z-index: 2;
    position: absolute;
    top: 312px;
    left: 166px;
    width: 10px;
}
.point-4 {
    display: none;
    z-index: 2;
    position: absolute;
    top: 367px;
    left: 214px;
    width: 10px;
}
.point-5 {
    display: none;
    z-index: 2;
    position: absolute;
    top: 430px;
    left: 250px;
    width: 10px;
}
.top1 {
    display: none;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 68px;
    left: 74px;
    height: 20px;
}
.top2 {
    display: none;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 108px;
    height: 20px;
    left: 142px;
}
.top3 {
    display: none;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 153px;
    height: 20px;
    left: 193px;
}
.top4 {
    display: none;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 209px;
    left: 238px;
    height: 20px;
}
.top5 {
    display: none;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 271px;
    left: 275px;
    height: 20px;
}
.top-txt-1 {
    display: none;
    position: absolute;
    top: 81px;
    left: 148px;
    font-size: 15px;
    color: #fff;
}
.top-txt-2 {
    display: none;
    position: absolute;
    top: 127px;
    left: 209px;
    font-size: 15px;
    color: #fff;
}
.top-txt-3 {
    display: none;
    position: absolute;
    top: 181px;
    left: 259px;
    font-size: 15px;
    color: #fff;
}
.top-txt-4 {
    display: none;
    position: absolute;
    top: 229px;
    left: 294px;
    font-size: 15px;
    color: #fff;
}
.top-txt-5 {
    display: none;
    position: absolute;
    top: 294px;
    left: 315px;
    font-size: 15px;
    color: #fff;
}
.fs-13 {
    font-size: 13px;
}
.cur .top1{
    display: block;
    animation: iconFadeIn .5s ;
    -webkit-animation: iconFadeIn .5s ;
}
.cur .top2{
    display: block;
    animation: iconFadeIn .8s ;
    -webkit-animation: iconFadeIn .8s ;
}
.cur .top3{
    display: block;
    animation: iconFadeIn 1.1s ;
    -webkit-animation: iconFadeIn 1.1s ;
}
.cur .top4{
    display: block;
    animation: iconFadeIn 1.4s ;
    -webkit-animation: iconFadeIn 1.4s ;
}
.cur .top5{
    display: block;
    animation: iconFadeIn 1.7s ;
    -webkit-animation: iconFadeIn 1.7s ;
}
.cur .top-txt-1{
    display: block;
    animation: iconFadeIn .5s ;
    -webkit-animation: iconFadeIn .5s ;
}
.cur .top-txt-2{
    display: block;
    animation: iconFadeIn 1s ;
    -webkit-animation: iconFadeIn 1s ;
}
.cur .top-txt-3{
    display: block;
    animation: iconFadeIn 1.5s ;
    -webkit-animation: iconFadeIn 1.5s ;
}
.cur .top-txt-4{
    display: block;
    animation: iconFadeIn 2s ;
    -webkit-animation: iconFadeIn 2s ;
}
.cur .top-txt-5{
    display: block;
    animation: iconFadeIn 2.5s ;
    -webkit-animation: iconFadeIn 2.5s ;
}
.cur .point-1{
     display: block;
     animation: iconFadeIn .5s ;
     -webkit-animation: iconFadeIn .5s ;
 }
.cur .point-2{
    display: block;
    animation: iconFadeIn 1s ;
    -webkit-animation: iconFadeIn 1s ;
}
.cur .point-3{
    display: block;
    animation: iconFadeIn 1.5s ;
    -webkit-animation: iconFadeIn 1.5s ;
}
.cur .point-4{
    display: block;
    animation: iconFadeIn 2s ;
    -webkit-animation: iconFadeIn 2s ;
}
.cur .point-5{
    display: block;
    animation: iconFadeIn 2.5s ;
    -webkit-animation: iconFadeIn 2.5s ;
}
.wave1 {
    display: none;
    z-index: 1;
    position: absolute;
    top: 228px;
    left: 53px;
    height: 20px;
    width: 20px;
}
.wave2 {
    display: none;
    z-index: 1;
    position: absolute;
    top: 267px;
    left: 116px;
    height: 20px;
    width: 20px;
}
.wave3 {
    display: none;
    z-index: 1;
    position: absolute;
    top: 312px;
    left: 166px;
    height: 20px;
    width: 20px;
}
.wave4 {
    display: none;
    z-index: 1;
    position: absolute;
    top: 367px;
    left: 214px;
    height: 20px;
    width: 20px;
}
.wave5 {
    display: none;
    z-index: 1;
    position: absolute;
    top: 430px;
    left: 250px;
    height: 20px;
    width: 20px;
}
.cur .wave1{
    display: block;
    animation: iconFadeIn .5s ;
    -webkit-animation: iconFadeIn .5s ;
}
.cur .wave2{
    display: block;
    animation: iconFadeIn .8s ;
    -webkit-animation: iconFadeIn .8s ;
}
.cur .wave3{
    display: block;
    animation: iconFadeIn 1.1s ;
    -webkit-animation: iconFadeIn 1.1s ;
}
.cur .wave4{
    display: block;
    animation: iconFadeIn 1.4s ;
    -webkit-animation: iconFadeIn 1.4s ;
}
.cur .wave5{
    display: block;
    animation: iconFadeIn 1.7s ;
    -webkit-animation: iconFadeIn 1.7s ;
}
.white-area {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFF;
    animation: whiteWave 3s infinite linear;
    -webkit-animation: whiteWave 3s infinite linear;
}
.white-area.second {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.white-area.third {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.part3-99-img-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part-3-99-icon-1-out {
    display: none;
    position: absolute;
    top: 155px;
    left: 87px;
    width: 85px;
    height: 85px;
}
.part-3-99-icon-2-out {
    display: none;
    position: absolute;
    top: 155px;
    left: 200px;
    width: 85px;
    height: 85px;
}
.part-3-99-icon-3-out {
    display: none;
    position: absolute;
    top: 277px;
    left: 37px;
    width: 85px;
    height: 85px;
}
.part-3-99-icon-4-out {
    display: none;
    position: absolute;
    top: 277px;
    left: 146px;
    width: 85px;
    height: 85px;
}
.part-3-99-icon-5-out {
    display: none;
    position: absolute;
    top: 277px;
    left: 256px;
    width: 85px;
    height: 85px;
}
.part-3-99-icon-6-out {
    display: none;
    position: absolute;
    top: 399px;
    left: 87px;
    width: 85px;
    height: 85px;
}
.part-3-99-icon-7-out {
    display: none;
    position: absolute;
    top: 399px;
    left: 200px;
    width: 85px;
    height: 85px;
}
.part3-99-img-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-99-img-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-99-img-4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part3-99-img-5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    animation: rotateLeft 12s infinite linear;
    -webkit-animation: rotateLeft 12s infinite linear;
}
.part-3-99-icon-1 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-99-icon-2 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-99-icon-3 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-99-icon-4 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.part-3-99-icon-5 {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 79px;
}
.cur .part-3-99-icon-1-out{
    display: block;
    animation: iconFadeIn 3.2s ;
    -webkit-animation: iconFadeIn 3.2s ;
}
.cur .part-3-99-icon-2-out{
    display: block;
    animation: iconFadeIn 3.4s ;
    -webkit-animation: iconFadeIn 3.4s ;
}
.cur .part-3-99-icon-3-out{
    display: block;
    animation: iconFadeIn 3.6s ;
    -webkit-animation: iconFadeIn 3.6s ;
}
.cur .part-3-99-icon-4-out{
    display: block;
    animation: iconFadeIn 3.8s ;
    -webkit-animation: iconFadeIn 3.8s ;
}
.cur .part-3-99-icon-5-out{
    display: block;
    animation: iconFadeIn 4s ;
    -webkit-animation: iconFadeIn 4s ;
}
.cur .part-3-99-icon-6-out{
    display: block;
    animation: iconFadeIn 4.2s ;
    -webkit-animation: iconFadeIn 4.2s ;
}
.cur .part-3-99-icon-7-out{
    display: block;
    animation: iconFadeIn 4.4s ;
    -webkit-animation: iconFadeIn 4.4s ;
}
.part-3-99-txt-1 {
    position: absolute;
    left: 12px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-99-txt-2 {
    position: absolute;
    left: 12px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-99-txt-3 {
    position: absolute;
    left: 26px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-99-txt-4 {
    position: absolute;
    left: 12px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-99-txt-5 {
    position: absolute;
    left: 15px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-99-txt-6 {
    position: absolute;
    left: 26px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.part-3-99-txt-7 {
    position: absolute;
    left: 12px;
    top: 92px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
}
.flag {
    position: absolute;
    left: 499px;
}
.earth {
    width: 526px;
    position: absolute;
    left: -309px;
    top: 297px;
    opacity: .4;
}
.cur .earth{
    animation: rotateLeft 50s infinite linear;
    -webkit-animation: rotateLeft 50s infinite linear;
}
.opacity-60 {
    opacity: .6;
}
@-webkit-keyframes topFadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes whiteWave {
    25% {
        opacity: .7;
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }
    50% {
        opacity: .3;
        -webkit-transform: scale3d(1.7, 1.7, 1.7);
        transform: scale3d(1.7, 1.7, 1.7);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale3d(2, 2, 2);
        transform: scale3d(2, 2, 2);
    }
}
@-webkit-keyframes iconFadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes RightLeft {
    0% {
        z-index: -1;
        opacity: 0;
    }
    50% {
        z-index: -1;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes rotate {
    0% {
        transform: rotate(-74deg);
        -webkit-transform: rotate(-74deg);
    }
    100% {
        transform: rotate(3deg);
        -webkit-transform: rotate(3deg);
    }
}
@-webkit-keyframes upDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeInOut {
    0% {
        z-index: -1;
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }
    20% {
        z-index: 1;
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    40% {
        z-index: 1;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    78% {
        z-index: -1;
        opacity: 0;
    }
}
@-webkit-keyframes imgFadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: .1;
    }
}
.bottom-circle-part-3 {
    display: none;
    position: absolute;
    bottom: 17%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
    transform: perspective(400px) rotateX(250deg);
}
.cur .bottom-circle-part-3 {
    display: block;
    animation: iconFadeIn 5s ;
    -webkit-animation: iconFadeIn 5s ;
}
.part-3-circle {
    position: absolute;
    margin-left: -141px;
    margin-top: -160px;
    width: 285px;
    height: 229px;
    z-index: 1;
    animation: rotateRight 12s infinite linear;
    -webkit-animation: rotateRight 12s infinite linear;
}
@-webkit-keyframes fadeIn {
    0% {
        z-index: -1;
        opacity: 0;
    }
    50% {
        z-index: -1;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.btm-head {
    display: none;
    position: absolute;
    top: 265px;
    width: 237px;
    left: 50%;
    margin-left: -118px;
}
.cur .btm-head {
    display: block;
    animation: iconFadeIn 0.5s ;
    -webkit-animation: iconFadeIn 0.5s ;
}
@-webkit-keyframes mxfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .1;
    }
}
@media (min-width: 414px) {
    .part3-title {
        top: 44px;
    }
    .part3-sub-title-2 {
        top: 87px;
    }
    .part-3-mx-img {
        top: 132px;
    }
    .radius-l-t{
        top: 126px;
        left: 75px;
    }
    .radius-r-t {
        top: 126px;
        left: 320px;
    }
    .radius-l-b {
        top: 572px;
        left: 75px;
    }
    .radius-r-b {
        top: 572px;
        left: 320px;
    }
    .part-3-2-icon-1-out {
        top: 157px;
        left: 128px;
    }
    .part-3-2-icon-2-out {
        top: 242px;
        left: 225px;
    }
    .part-3-2-icon-3-out {
        top: 327px;
        left: 114px;
    }
    .part-3-2-icon-4-out {
        top: 412px;
        left: 207px;
    }
    .part3-sub-title-3 {
        top: 87px;
    }
    .part3-sub-title {
        top: 87px;
    }
    .part-3-6-icon-1-out {
        top: 166px;
        left: 50px;
    }
    .part-3-6-icon-2-out {
        top: 166px;
        left: 162px;
    }
    .part-3-6-icon-3-out {
        top: 166px;
        left: 274px;
    }
    .part-3-6-icon-4-out {
        top: 301px;
        left: 50px;
    }
    .part-3-6-icon-5-out {
        top: 301px;
        left: 162px;
    }
    .part-3-6-icon-6-out {
        top: 301px;
        left: 274px;
    }
    .part-3-6-icon-7-out {
        top: 436px;
        left: 50px;
    }
    .part-3-6-icon-8-out {
        top: 436px;
        left: 162px;
    }
    .part-3-6-icon-9-out {
        top: 436px;
        left: 274px;
    }
    .part-3-4-icon-1-out {
        top: 150px;
        left: 130px;
    }
    .part-3-4-icon-2-out {
        top: 312px;
        left: 237px;
    }
    .part-3-4-icon-3-out {
        top: 312px;
        left: 42px;
    }
    .part-3-4-icon-4-out {
        top: 466px;
        left: 42px;
    }
    .part-3-4-icon-5-out {
        top: 466px;
        left: 237px;
    }
    .part-3-5-icon-1-out {
        top: 146px;
        left: 48px;
    }
    .part-3-5-icon-2-out {
        top: 244px;
        left: 203px;
    }
    .part-3-5-icon-3-out {
        top: 329px;
        left: 77px;
    }
    .part-3-5-icon-4-out {
        top: 279px;
        left: 153px;
    }
    .part-3-5-icon-5-out {
        top: 402px;
        left: 224px;
    }
    .part-3-99-icon-1-out {
        top: 159px;
        left: 107px;
    }
    .part-3-99-icon-2-out {
        top: 159px;
        left: 220px;
    }
    .part-3-99-icon-3-out {
        top: 281px;
        left: 57px;
    }
    .part-3-99-icon-4-out {
        top: 281px;
        left: 166px;
    }
    .part-3-99-icon-5-out {
        top: 281px;
        left: 276px;
    }
    .part-3-99-icon-6-out {
        top: 403px;
        left: 97px;
    }
    .part-3-99-icon-7-out {
        top: 403px;
        left: 220px;
    }
    .earth {
        left: -296px;
        top: 364px;
    }
    .test {
        top: 212px;
        left: -627px;
    }
    .circle-line {
        left: 40px;
    }
    .point-1 {
        top: 269px;
        left: 73px;
    }
    .point-2 {
        top: 309px;
        left: 133px;
    }
    .point-3 {
        top: 364px;
        left: 190px;
    }
    .point-4 {
        top: 424px;
        left: 233px;
    }
    .point-5 {
        top: 496px;
        left: 269px;
    }
    .wave1 {
        top: 269px;
        left: 73px;
    }
    .wave2 {
        top: 309px;
        left: 133px;
    }
    .wave3 {
        top: 364px;
        left: 190px;
    }
    .wave4 {
        top: 424px;
        left: 233px;
    }
    .wave5 {
        top: 496px;
        left: 269px;
    }
    .top1 {
        top: 111px;
        left: 102px;
    }
    .top2 {
        top: 153px;
        left: 160px;
    }
    .top3 {
        top: 209px;
        left: 213px;
    }
    .top4 {
        top: 270px;
        left: 257px;
    }
    .top5 {
        top: 342px;
        left: 292px;
    }
    .top-txt-1 {
        top: 93px;
        left: 155px;
    }
    .top-txt-2 {
        top: 134px;
        left: 208px;
    }
    .top-txt-3 {
        top: 195px;
        left: 272px;
    }
    .top-txt-4 {
        top: 253px;
        left: 314px;
    }
    .top-txt-5 {
        top: 322px;
        left: 344px;
    }
    .bottom-circle-part-3 {
        bottom: 21%;
    }
    .btm-head {
        top: 282px;
    }
}
/*
@media (max-width: 320px) {
    .part3-title {
        top: 80px;
    }
    .part3-sub-title-2 {
        top: 123px;
    }
    .part-3-mx-img {
        top: 168px;
    }
    .radius-l-t{
        top: 162px;
        left: 8%;
    }
    .radius-r-t {
        top: 162px;
        left: 86%;
    }
    .radius-l-b {
        top: 608px;
        left: 8%;
    }
    .radius-r-b {
        top: 608px;
        left: 86%;
    }
    .part-3-2-icon-1-out {
        top: 193px;
        left: 128px;
    }
    .part-3-2-icon-2-out {
        top: 278px;
        left: 225px;
    }
    .part-3-2-icon-3-out {
        top: 363px;
        left: 114px;
    }
    .part-3-2-icon-4-out {
        top: 448px;
        left: 207px;
    }
    .part3-sub-title-3 {
        top: 123px;
    }
    .part3-sub-title {
        top: 123px;
    }
    .part-3-6-icon-1-out {
        top: 236px;
        left: 56px;
    }
    .part-3-6-icon-2-out {
        top: 236px;
        left: 168px;
    }
    .part-3-6-icon-3-out {
        top: 236px;
        left: 280px;
    }
    .part-3-6-icon-4-out {
        top: 371px;
        left: 106px;
    }
    .part-3-6-icon-5-out {
        top: 371px;
        left: 221px;
    }
    .part-3-4-icon-1-out {
        top: 190px;
        left: 130px;
    }
    .part-3-4-icon-2-out {
        top: 351px;
        left: 227px;
    }
    .part-3-4-icon-3-out {
        top: 393px;
        left: 75px;
    }
    .part-3-4-icon-4-out {
        top: 356px;
        left: 176px;
    }
    .part-3-5-icon-1-out {
        top: 182px;
        left: 48px;
    }
    .part-3-5-icon-2-out {
        top: 280px;
        left: 203px;
    }
    .part-3-5-icon-3-out {
        top: 365px;
        left: 77px;
    }
    .part-3-5-icon-4-out {
        top: 315px;
        left: 153px;
    }
    .part-3-5-icon-5-out {
        top: 438px;
        left: 224px;
    }
    .part-3-99-icon-1-out {
        top: 195px;
        left: 107px;
    }
    .part-3-99-icon-2-out {
        top: 195px;
        left: 220px;
    }
    .part-3-99-icon-3-out {
        top: 317px;
        left: 57px;
    }
    .part-3-99-icon-4-out {
        top: 317px;
        left: 166px;
    }
    .part-3-99-icon-5-out {
        top: 317px;
        left: 276px;
    }
    .part-3-99-icon-6-out {
        top: 439px;
        left: 97px;
    }
    .part-3-99-icon-7-out {
        top: 439px;
        left: 220px;
    }
    .earth {
        left: -247px;
        top: 400px;
    }
    .test {
        top: 250px;
        left: -514px;
    }
    .point-1 {
        top: 304px;
        left: 146px;
    }
    .point-2 {
        top: 345px;
        left: 209px;
    }
    .point-3 {
        top: 400px;
        left: 267px;
    }
    .point-4 {
        top: 460px;
        left: 310px;
    }
    .point-5 {
        top: 532px;
        left: 344px;
    }
    .wave1 {
        top: 304px;
        left: 146px;
    }
    .wave2 {
        top: 345px;
        left: 209px;
    }
    .wave3 {
        top: 400px;
        left: 267px;
    }
    .wave4 {
        top: 460px;
        left: 310px;
    }
    .wave5 {
        top: 532px;
        left: 344px;
    }
    .top1 {
        top: 168px;
        left: 103px
    }
    .top2 {
        top: 206px;
        left: 164px;
    }
    .top3 {
        top: 262px;
        left: 223px;
    }
    .top4 {
        top: 322px;
        left: 261px;
    }
    .top5 {
        top: 392px;
        left: 296px;
    }
    .top-txt-1 {
        top: 129px;
        left: 170px;
    }
    .top-txt-2 {
        top: 170px;
        left: 223px;
    }
    .top-txt-3 {
        top: 231px;
        left: 287px;
    }
    .top-txt-4 {
        top: 289px;
        left: 329px;
    }
    .top-txt-5 {
        top: 358px;
        left: 359px;
    }
    .bottom-circle-part-3 {
        bottom: 21%;
    }
}*/
