@font-face {
    font-family: 'iconfonts';
    src: url('fonts/element-icons.woff') format('woff'), /* chrome, firefox */
         url('fonts/element-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    font-weight: normal;
    font-style: normal
}

[class^="iconfonts"], [class*=" iconfonts"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .iconfonts.info:before { content: "\e61a"; }
  
  .iconfonts.error:before { content: "\e62c"; }
  
  .iconfonts.success:before { content: "\e62d"; }
  
  .iconfonts.warning:before { content: "\e62e"; }
  
  .iconfonts.question:before { content: "\e634"; }
  
  .iconfonts.back:before { content: "\e606"; }
  
  .iconfonts.arrow-left:before { content: "\e600"; }
  
  .iconfonts.arrow-down:before { content: "\e603"; }
  
  .iconfonts.arrow-right:before { content: "\e604"; }
  
  .iconfonts.arrow-up:before { content: "\e605"; }
  
  .iconfonts.caret-left:before { content: "\e60a"; }
  
  .iconfonts.caret-bottom:before { content: "\e60b"; }
  
  .iconfonts.caret-top:before { content: "\e60c"; }
  
  .iconfonts.caret-right:before { content: "\e60e"; }
  
  .iconfonts.d-arrow-left:before { content: "\e610"; }
  
  .iconfonts.d-arrow-right:before { content: "\e613"; }
  
  .iconfonts.minus:before { content: "\e621"; }
  
  .iconfonts.plus:before { content: "\e62b"; }
  
  .iconfonts.remove:before { content: "\e635"; }
  
  .iconfonts.circle-plus:before { content: "\e601"; }
  
  .iconfonts.remove-outline:before { content: "\e63c"; }
  
  .iconfonts.circle-plus-outline:before { content: "\e602"; }
  
  .iconfonts.close:before { content: "\e60f"; }
  
  .iconfonts.check:before { content: "\e611"; }
  
  .iconfonts.circle-close:before { content: "\e607"; }
  
  .iconfonts.circle-check:before { content: "\e639"; }
  
  .iconfonts.circle-close-outline:before { content: "\e609"; }
  
  .iconfonts.circle-check-outline:before { content: "\e63e"; }
  
  .iconfonts.zoom-out:before { content: "\e645"; }
  
  .iconfonts.zoom-in:before { content: "\e641"; }
  
  .iconfonts.d-caret:before { content: "\e615"; }
  
  .iconfonts.sort:before { content: "\e640"; }
  
  .iconfonts.sort-down:before { content: "\e630"; }
  
  .iconfonts.sort-up:before { content: "\e631"; }
  
  .iconfonts.tickets:before { content: "\e63f"; }
  
  .iconfonts.document:before { content: "\e614"; }
  
  .iconfonts.goods:before { content: "\e618"; }
  
  .iconfonts.sold-out:before { content: "\e63b"; }
  
  .iconfonts.news:before { content: "\e625"; }
  
  .iconfonts.message:before { content: "\e61b"; }
  
  .iconfonts.date:before { content: "\e608"; }
  
  .iconfonts.printer:before { content: "\e62f"; }
  
  .iconfonts.time:before { content: "\e642"; }
  
  .iconfonts.bell:before { content: "\e622"; }
  
  .iconfonts.mobile-phone:before { content: "\e624"; }
  
  .iconfonts.service:before { content: "\e63a"; }
  
  .iconfonts.view:before { content: "\e643"; }
  
  .iconfonts.menu:before { content: "\e620"; }
  
  .iconfonts.more:before { content: "\e646"; }
  
  .iconfonts.more-outline:before { content: "\e626"; }
  
  .iconfonts.star-on:before { content: "\e637"; }
  
  .iconfonts.star-off:before { content: "\e63d"; }
  
  .iconfonts.location:before { content: "\e61d"; }
  
  .iconfonts.location-outline:before { content: "\e61f"; }
  
  .iconfonts.phone:before { content: "\e627"; }
  
  .iconfonts.phone-outline:before { content: "\e628"; }
  
  .iconfonts.picture:before { content: "\e629"; }
  
  .iconfonts.picture-outline:before { content: "\e62a"; }
  
  .iconfonts.delete:before { content: "\e612"; }
  
  .iconfonts.search:before { content: "\e619"; }
  
  .iconfonts.edit:before { content: "\e61c"; }
  
  .iconfonts.edit-outline:before { content: "\e616"; }
  
  .iconfonts.rank:before { content: "\e632"; }
  
  .iconfonts.refresh:before { content: "\e633"; }
  
  .iconfonts.share:before { content: "\e636"; }
  
  .iconfonts.setting:before { content: "\e638"; }
  
  .iconfonts.upload:before { content: "\e60d"; }
  
  .iconfonts.upload2:before { content: "\e644"; }
  
  .iconfonts.download:before { content: "\e617"; }
  
  .iconfonts.loading:before { content: "\e61e"; }
  
  .iconfonts.loading {
    animation: rotating 2s linear infinite;
  }
  
  @keyframes rotating {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }