if (typeof messages.info != 'undefined' && messages.info.length)
  .fade.in.alert.alert-info
    button.close(type='button', data-dismiss='alert') ×
    ul
    each inf in messages.info
      li!= inf

if (typeof messages.errors != 'undefined' && messages.errors.length)
  .fade.in.alert.alert-danger
    button.close(type='button', data-dismiss='alert') ×
    ul
    each error in messages.errors
      li!= error

if (typeof messages.success != 'undefined' && messages.success.length)
  .fade.in.alert.alert-success
    button.close(type='button', data-dismiss='alert') ×
    ul
    each succ in messages.success
      li!= succ
if (typeof messages.warning != 'undefined' && messages.warning.length)
  .fade.in.alert.alert-warning
    button.close(type='button', data-dismiss='alert') ×
    ul
    each warn in messages.warning
      li!= warn
