body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:600px;
}
#u5486 {
  position:absolute;
  left:150px;
  top:60px;
  width:1100px;
  height:600px;
  color:#A9B7B7;
}
#u5487 {
  position:absolute;
  left:2px;
  top:292px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-bottom:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5488 {
  position:absolute;
  left:150px;
  top:60px;
  width:1100px;
  height:50px;
}
#u5489 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:552px;
}
#u5490 {
  position:absolute;
  left:150px;
  top:109px;
  width:180px;
  height:551px;
}
#u5491 {
  position:absolute;
  left:2px;
  top:268px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-bottom:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5492 {
  position:absolute;
  left:150px;
  top:60px;
  width:180px;
  height:50px;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5493 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u5494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u5494 {
  position:absolute;
  left:345px;
  top:68px;
  width:35px;
  height:35px;
}
#u5495 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:551px;
}
#u5496 {
  position:absolute;
  left:329px;
  top:110px;
  width:1px;
  height:550px;
}
#u5497 {
  position:absolute;
  left:2px;
  top:267px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5498 {
  position:absolute;
  left:160px;
  top:120px;
  width:20px;
  height:20px;
}
#u5499 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u5500 {
  position:absolute;
  left:190px;
  top:122px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u5501 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5502 {
  position:absolute;
  left:190px;
  top:175px;
  width:57px;
  height:16px;
}
#u5503 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5504 {
  position:absolute;
  left:190px;
  top:201px;
  width:122px;
  height:16px;
}
#u5505 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u5506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u5506 {
  position:absolute;
  left:150px;
  top:256px;
  width:180px;
  height:1px;
}
#u5507 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5508 {
  position:absolute;
  left:160px;
  top:267px;
  width:20px;
  height:20px;
}
#u5509 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u5510 {
  position:absolute;
  left:190px;
  top:269px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u5511 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5512 {
  position:absolute;
  left:190px;
  top:296px;
  width:57px;
  height:16px;
}
#u5513 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5514 {
  position:absolute;
  left:190px;
  top:348px;
  width:57px;
  height:16px;
}
#u5515 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5516 {
  position:absolute;
  left:190px;
  top:374px;
  width:122px;
  height:16px;
}
#u5517 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u5518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5518 {
  position:absolute;
  left:190px;
  top:322px;
  width:71px;
  height:16px;
}
#u5519 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5520 {
  position:absolute;
  left:190px;
  top:149px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5521 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:2px;
}
#u5522 {
  position:absolute;
  left:329px;
  top:195px;
  width:921px;
  height:1px;
}
#u5523 {
  position:absolute;
  left:2px;
  top:-8px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5524 {
  position:absolute;
  left:345px;
  top:134px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u5525 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5526 {
  position:absolute;
  left:190px;
  top:227px;
  width:122px;
  height:16px;
}
#u5527 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u5528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:90px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5528 {
  position:absolute;
  left:1090px;
  top:65px;
  width:40px;
  height:40px;
}
#u5529 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5530 {
  position:absolute;
  left:1100px;
  top:75px;
  width:20px;
  height:20px;
}
#u5531 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5532 {
  position:absolute;
  left:1140px;
  top:78px;
  width:39px;
  height:16px;
  color:#FFFFFF;
}
#u5533 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u5534 {
  position:absolute;
  left:1189px;
  top:75px;
  width:1px;
  height:23px;
  color:#FFFFFF;
}
#u5535 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5536 {
  position:absolute;
  left:1205px;
  top:78px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u5537 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5538 {
  position:absolute;
  left:360px;
  top:167px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5539 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5540 {
  position:absolute;
  left:460px;
  top:167px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5541 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5542_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:113px;
  height:5px;
}
#u5542 {
  position:absolute;
  left:532px;
  top:194px;
  width:110px;
  height:2px;
}
#u5543 {
  position:absolute;
  left:2px;
  top:-7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5544 {
  position:absolute;
  left:558px;
  top:167px;
  width:57px;
  height:16px;
  color:#0000FF;
}
#u5545 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5546 {
  position:absolute;
  left:440px;
  top:256px;
  width:1px;
  height:16px;
}
#u5547 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u5548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5548 {
  position:absolute;
  left:329px;
  top:251px;
  width:921px;
  height:55px;
}
#u5549 {
  position:absolute;
  left:2px;
  top:20px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5550 {
  position:absolute;
  left:368px;
  top:271px;
  width:43px;
  height:16px;
  color:#666666;
}
#u5551 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5552 {
  position:absolute;
  left:555px;
  top:271px;
  width:29px;
  height:16px;
  color:#666666;
}
#u5553 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5554 {
  position:absolute;
  left:730px;
  top:271px;
  width:29px;
  height:16px;
  color:#666666;
}
#u5555 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5556 {
  position:absolute;
  left:880px;
  top:271px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5557 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5558 {
  position:absolute;
  left:1082px;
  top:271px;
  width:29px;
  height:16px;
  color:#666666;
}
#u5559 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5560 {
  position:absolute;
  left:366px;
  top:322px;
  width:47px;
  height:16px;
  color:#000000;
}
#u5561 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u5562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5562 {
  position:absolute;
  left:515px;
  top:322px;
  width:125px;
  height:16px;
  color:#000000;
}
#u5563 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u5564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5564 {
  position:absolute;
  left:723px;
  top:322px;
  width:43px;
  height:16px;
  color:#000000;
}
#u5565 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5566 {
  position:absolute;
  left:874px;
  top:322px;
  width:75px;
  height:16px;
  color:#000000;
}
#u5567 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5568 {
  position:absolute;
  left:1060px;
  top:322px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5569 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5570 {
  position:absolute;
  left:1108px;
  top:322px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5571 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5572 {
  position:absolute;
  left:1130px;
  top:204px;
  width:110px;
  height:40px;
}
#u5573 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u5574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5574 {
  position:absolute;
  left:511px;
  top:300px;
  width:43px;
  height:16px;
}
#u5575 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u5576 {
  position:absolute;
  left:150px;
  top:399px;
  width:180px;
  height:1px;
}
#u5577 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5578 {
  position:absolute;
  left:160px;
  top:411px;
  width:20px;
  height:20px;
}
#u5579 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u5580 {
  position:absolute;
  left:190px;
  top:413px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u5581 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5582 {
  position:absolute;
  left:160px;
  top:551px;
  width:22px;
  height:22px;
}
#u5583 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9B7B7;
}
#u5584 {
  position:absolute;
  left:190px;
  top:554px;
  width:29px;
  height:16px;
  color:#A9B7B7;
}
#u5585 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u5586 {
  position:absolute;
  left:150px;
  top:541px;
  width:180px;
  height:1px;
}
#u5587 {
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5588 {
  position:absolute;
  left:190px;
  top:580px;
  width:71px;
  height:16px;
}
#u5589 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5590 {
  position:absolute;
  left:151px;
  top:510px;
  width:178px;
  height:26px;
}
#u5591 {
  position:absolute;
  left:2px;
  top:5px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5592 {
  position:absolute;
  left:190px;
  top:466px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5593 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5594 {
  position:absolute;
  left:190px;
  top:440px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5595 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5596 {
  position:absolute;
  left:190px;
  top:491px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5597 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5598 {
  position:absolute;
  left:190px;
  top:516px;
  width:52px;
  height:16px;
  color:#FFFFFF;
}
#u5599 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
